{% macro inline_code_list(items) -%}
    {%- if items | length == 1 -%}
        `{{ items | first }}`
    {%- else -%}
        {%- for item in items -%}
            {%- if loop.first -%}
                {{ "`" ~ item ~ "`" }}
            {%- elif loop.last -%}
                {{ " and `" ~ item ~ "`" }}
            {%- else -%}
                {{ ", `" ~ item ~ "`" }}
            {%- endif -%}
        {%- endfor %}
    {%- endif -%}
{%- endmacro inline_code_list %}
